@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variables */
:root {
  --main-text-color: #333;
  --main-bg-color: #fff;
}

/* contents */
body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 20px;
  display: flex;
}

header {
  width: 200px;
}

.top {
  width: 100%;
  height: 850px;
}

.logo {
  width: 100%;
  height: 150px;
}

.logo img {
  width: 180px;
}


.menu {
  width: 100%;
}

.navi {
  height: auto;
  margin: 10px 0 0 10px;
  text-align: center;
}

.navi > li {
  width: 180px;
}

.navi > li > a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  background: #788402;
  color: var(--main-bg-color);
  transition: background 0.3s, color 0.3s;
}

.navi > li > a:hover {
  background: #342628;
  color:#feaa00;
}

.submenu {
  width: 100%;
  display: none;
  opacity: 0;
}

.submenu > li {
  width: 100%;
  height: 50px;
}

.submenu > li > a {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  background: #ccc;
  color: var(--main-bg-color);
  transition: background 0.3s, color 0.3s;
}

.submenu > li > a:hover {
  background: #999;
  color: #feaa00;
}

.spotmenu > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  font-size: 12px;
  margin: 10px 0 0 10px;
}

.spotmenu-btn:hover {
  font-weight: bold;
}

.btlogo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btlogo img {
  height: 100%;
}

main {
  width: calc(100% - 200px);
  height: 950px;
}

.imgslide {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slidelist {
  width: 100%;
  height: 1200px;
  transition: margin-top 1s ease;
}

.slidelist ul li {
  width: 100%;
  height: 400px;
}

.slidelist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slidelist span {
  position: absolute;
  left: 50%;
  margin-top: 180px;
  transform: translateX(-50%);
  background: rgba(40, 40, 40, 0.5);
  color: var(--main-bg-color);
  width: 500px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.contents {
  width: 100%;
  height: 450px;
}

.banner {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 5px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .banner-texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: var(--main-bg-color);
  width: 98%;
  height: 180px;
  padding-top: 60px;
  transition: background 0.5s;
}

.banner .banner-texts:hover {
  background: rgba(0, 0, 0, 0.5);
}

.tabmenu {
  width: 100%;
  height: 250px;
  position: relative;
}

.tabmenu > ul {
  display: flex;
}

.tabmenu > ul > li {
  width: 100px;
  height: 40px;
}

.tabmenu > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background: #ccc;
  border: 1px solid #ddd;
  border-bottom: none;
  transition: background 0.3s;
}

.tabmenu > ul > li > a:hover {
  background: #eee;
}

.tabmenu > ul > li:first-child a {
  border-right: none;
}

.tabmenu > ul > li.active > a {
  background: var(--main-bg-color);
}

.tabmenu > ul > li div {
  position: absolute;
  left: 0;
  height: 0;
  overflow: hidden;
}

.tabmenu > ul > li.active div {
  width: 100%;
  height: 180px;
  border: 1px solid #ddd;
}

.notice ul {
  width: 100%;
  margin: 10px 0;
}

.notice li {
  height: 40px;
  font-size: 16px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  transition: all 0.3s;
}

.notice li:hover {
  font-weight: bold;
}

.notice li:nth-child(even) {
  background: #ccc;
}

.gallery ul {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  padding: 0 10px;
}

#layer {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#layer.active {
  display: flex;
}

.layer_up {
  width: 500px;
  height: 400px;
  background: var(--main-bg-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
}

.uptitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.upbody {
  font-size: 1.3rem;
}

.btn {
  align-self: flex-end;
  background: #ccc;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

#shortcut {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(120, 120, 120, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 375px;
}

#shortcut img {
  width: 100px;
  height: 100px;
  margin: 10px;
  transition: opacity 0.3s;
}

#shortcut img:hover {
  opacity: 0.5;
}

footer {
  width: 100%;
  height: 100px;
  background: #342628;
  color: #fff;
}

.btwrap {
  width: 100%;
  height: 100%;
  display: flex;
}

.copy {
  flex: 4;
  height: 100%;
  text-align: center;
  line-height: 100px;
}

.sns {
  flex: 1;
}

.sns ul {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sns img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  transition: opacity 0.3s;
}

.sns img:hover {
  opacity: 0.5;
}